body {
  background-color: #444;
}

.container {
  background-color: white;
  height: 400px;
  width: 600px;
  position: absolute;
  top: 150px;
  left: 150px;
  margin: 0 auto 0;
}

h1 {
  color: white;
  font-family: sans-serif;
}

.enemy {
  background-image: url('./Shuriken.png');
}